---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - myservice.cyk.io
  resources:
  - apiservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - myservice.cyk.io
  resources:
  - apiservices/finalizers
  verbs:
  - update
- apiGroups:
  - myservice.cyk.io
  resources:
  - apiservices/status
  verbs:
  - get
  - patch
  - update
